//Pixels to rem
@function toRem($value) {
  $remValue: calc($value / 16) + rem; 
  @return $remValue;
}

//Colors
$cyanColor: hsl(179, 62%, 43%);
$lightCyanColor: hsl(179, 57%, 58%);
$boxShadowCyanColor: hsl(179, 60%, 33%);;
$whiteTextColor: hsl(204, 43%, 93%);
$grayTextColor: #63676c;
$lightGrayTextColor: hsl(218, 22%, 67%);
$yellowColor: hsl(71, 73%, 54%);

//Fonts
$base-font-size: 16px;
$font-primary: 'Karla', sans-serif;
$weight-normal: 400;
$weight-bold: 700;

//Radius
$radius: toRem(16);

//Breakpoint
$desktopLayout: toRem(375);


/* global styles */
html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  margin: auto;
  min-height: 100vh;
  font-family: $font-primary;
  font-weight: $weight-normal;
  line-height: 1.5;
  font-size: $base-font-size; 
  padding: toRem(32);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*typography*/

h1 {
  color: $cyanColor;
}

/*layout*/
.isResponsive {
  display: flex;
  flex-shrink: 1;
  margin: 0;
  padding: 0;
}

.container {
  max-width: toRem(375);
  width: 100%;
  border-radius: $radius;
  overflow: hidden;
  margin: auto;
}

@media only screen and (min-width: $desktopLayout) {
  .container {
    max-width: toRem(900);
  }
}

.freeTrial {
  padding: toRem(32);
  border: $lightCyanColor solid toRem(0.5);
  border-radius: $radius $radius 0 0;
  h2 {
    margin: 0;
    color:$yellowColor;
    font-weight: $weight-bold;
  }
  p {
    color: $grayTextColor;
  }
}

@media only screen and (min-width: $desktopLayout) {
  .freeTrial {
    padding: toRem(48);
  }
}

.ourOffer {
  background-color: $cyanColor;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 0 0 $radius $radius;
  max-width: toRem(375);
  width:100%;
  
  div {
    padding: toRem(24);
  }
  h2 {
    color: $whiteTextColor;
    font-weight: $weight-bold;
    margin: 0;
  }
  p {
    margin: 0;
    color: $whiteTextColor;
    align-items: center;
    font-size: $base-font-size*1.1;
  }
  .price {
    font-weight: $weight-bold;
    font-size: $base-font-size*2;
    padding: 0 toRem(16) 0 0;
  }
  .period {
    text-align: center;
    font-size: $base-font-size*1.5;
    color: $lightGrayTextColor;
  }
  .signUpButton {
    text-align: center;
    background-color: $yellowColor;
    width: 100%;
    padding: toRem(8) 0;
    margin-top: toRem(32);
    border-radius: toRem(8);
    a {
      text-decoration: none;
      color: $whiteTextColor;
    }
    &:hover,
    &:focus-visible{
      box-shadow: toRem(8) toRem(8) toRem(15) $boxShadowCyanColor,
                  toRem(-8) toRem(8) toRem(8) $boxShadowCyanColor;
    }
  }
  .subscription {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .reason {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: $lightCyanColor;
    ul {
      padding: toRem(16) 0 0 0;
      margin: 0;
    }
    ul li {
      list-style: none;
      color: $whiteTextColor;
    }
  }
}

@media only screen and (min-width: $desktopLayout) {
  .ourOffer {
    max-width: toRem(900);
    flex-direction: row;
    border-radius: 0;
    div {
      padding: toRem(48);
    }
    .signUpButton {
      margin-top: 0;
    }
  }
}  